.body {
    font-family: '-apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif';
    font-size: 14cpx;
    color: rgba(0,0,0,.75);

}

.topics {
    background-color: #f2f2f2;
    margin: 0cpx 0cpx 10cpx;
    padding: 10cpx;
    text-align: center;
    font-weight: 700;
    font-size: 32cpx;
    border-bottom: 1px solid #d8d8d8;
    top: 0cpx;
}
.topic {
    font-size: 40cpx;
    color: #333;
    line-height: 40cpx;
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    padding: 14cpx 16cpx;
    height: 80cpx;
    width: 100%;
    display: flex;
    left: 0;
    z-index: 99;
    position: fixed;
}

.topic-description-view {
    margin: 80cpx 32cpx 10cpx ;

}

.content {
    margin: 0cpx 32cpx;
}

.sub-topic-area {
    margin: 3cpx 0cpx;
}

.sub-topic-name {
    font-size: 26cpx;
    font-weight: 600;
    text-align: left;
    margin: 14cpx 0cpx;
}

.sub-topic-description-view {
    margin: 5cpx 0cpx 10cpx;
}

.sub-topic-description {
    font-size: 16cpx;
    font-weight: 400;
    line-height: 2;
    margin-top: 5cpx;
    color: #4f4f4f;
    letter-spacing: 2cpx;
}

.sub-topic-code-view {
    padding: 50cpx 0cpx 50cpx 50cpx; /*top right bottom left*/
    background-color: #282c34;
    color: #abb2bf;
}

.code-line {
    font-size: 16cpx;
    font-weight: 400;
    text-align: left;
    margin-top: 5cpx;
}

.sub-topic-example-view {
    margin: 10cpx 0cpx;
    border: 1cpx solid;
    padding: 10cpx;
}